html, body {
  font-family: 'Roboto Condensed', serif;
  background-color: #e5e5e5;
  color: #14213d;
  height: 100%;
}

.menu-div {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.menu-button {
	background-color: #fca311;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #222222;
}

.menu-button:hover {
	background-color:#ffffff;
}

.menu-button:active {
	position:relative;
	top:1px;
}

.content-box {
  justify-content: center;
  align-content: center;
	border-radius:3px;
  border:1px solid #fca311;
  background-color: #ffffff;
  height: 100%;
}

.parent-canvas, .canvas {
  width: 1500px;
  height: 900px;
}

.color-guide {
  margin: 20px 40px;
}

h5 {
  margin-bottom: 10px;
}

.float-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.left-menu {
  width: 20%;
  float: left;
  padding: 15px;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.right-content {
  width: 75%;
  height: 100%;
  float: left;
  padding: 20px;
  flex: 1;
}